/* color styles */
$gray-light: #f7f7f7;
$gray-lighter: #ccc;
$gray-middle: #808080;
$gray-dark: #333;
$white: #fff;
$black: #000;
$green: #53a665;

/* font styles */
$main-font-family: 'Open Sans', Arial,Helvetica,sans-serif;
$title-font-family:  'Bree Serif' , Arial,Helvetica,sans-serif;
$base-font-family:  Verdana, Geneva, sans-serif;
$small-font-size: 10px;
$small-line-height: 12px;
$main-font-size: 16px;
$main-line-height: 24px;
$large-font-size: 30px;
$large-line-height: 34px;
$middle-font-size: 24px;
$middle-line-height: 28px;

/* width styles */
$max-width: 960px;
$tablet-width: 939px;
$mobile-width: 639px;
